######################
#   config files     #
######################
config.php

######################
#   export script    #
######################
toTheCloud.sh

######################
#     misc files     #
######################
.project
